NULL értékek száma és aránya

In [11]:
SELECT 
        (SUM (CASE WHEN SZALL_CIM IS NULL THEN 1 ELSE 0 END)) AS null_szall_cim,
        (SUM(CASE WHEN SZALL_CIM IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS percent_szall_cim,
        SUM(CASE WHEN SZAMLA_CIM IS NULL THEN 1 ELSE 0 END) AS null_szamla,
        (SUM(CASE WHEN SZAMLA_CIM IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS percent_szamla
    FROM RENDELES;

null_szall_cim,percent_szall_cim,null_szamla,percent_szamla
21689,77.226277372262,25535,90.920420153106

LISTAAR statisztika

In [12]:
SELECT 
        MIN(LISTAAR) AS min_lista_ar,
        MAX(LISTAAR) AS max_lista_ar,
        AVG(LISTAAR) AS avg_lista_ar
    FROM TERMEK

min_lista_ar,max_lista_ar,avg_lista_ar
0,46000,"786,2813067150635"

KESZLET statisztika

In [13]:
SELECT 
        MIN(KESZLET) AS min_keszlet,
        MAX(KESZLET) AS max_keszlet,
        AVG(KESZLET) AS avg_keszlet
    FROM TERMEK;

min_keszlet,max_keszlet,avg_keszlet
0,50000,"1585,9909255898367"

REND\_DATUM statisztika

In [8]:
SELECT 
        MIN(REND_DATUM) AS min_rend_datum,
        MAX(REND_DATUM) AS max_rend_datum
    FROM RENDELES;

min_felvitel,max_felvitel
2015-05-01,2017-04-01